.folder-tabs {
    font-size: 0;
    position: fixed;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    box-shadow: 20px 10px 40px #111111;
}

.folder-tabs a {
    font-size: 22px;
    font-family: ringbearer;
    display: inline-block;
    width: 20%;
    padding: 25px 0;
    color: white;
    background: #343434;
}

.folder-tabs a:hover {
    text-decoration: underline;
}

.folder-tabs a.active {
    background: #2c2c2c;
    box-shadow: 0px 0px 40px #111111;
    text-decoration: none;
    position: relative;
}